h1{
    color: red;
    text-align: center;
}

.centre {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
  }

body{
    
    background: url(https://media.istockphoto.com/vectors/fire-flame-vector-icon-vector-id1127729949?k=6&m=1127729949&s=612x612&w=0&h=fLpIF0B-dTrxfZOvSCC4Hz4uLkORDwSpzzOc6jMIzUw=);
    background-position: 50%;
    background-size: cover;
    background-repeat:no-repeat;
    
}


.Links{      /*This is class selector which can be used many times*/
    color: blue;
    text-align: center;
    
}

.heading{     /**/
    color:crimson; 
}

#contact-him{    /*This is id selector which can be used only once*/
    color: brown;
}

h2:hover{
    color: pink; /*this is called hover*/
}




